
<table class="table table-bordered">
    <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Amount</th>
        <th>Resolved Issues</th>
        <th>Unresolved Issues</th>
        <th>Mark as Completed</th>
        <th>View Issues</th>
    </tr>
</table>


@section scripts
{
    <script src="/Scripts/index.js"></script>
}